[submodule "Code/MiddleWare"]
	path = Code/MiddleWare
	url = https://anthony_corbin@bitbucket.org/anthony_corbin/c-game-dev-middleware.git
[submodule "Code/Engine"]
	path = Code/Engine
url=https://github.com/dragon1672/C-Game-Engine